<div class="w-75 bg-secondary bg-opacity-25 shadow rounded">
  <ul class="text-danger">
    <% @product.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
