<h1 class="text-center m-4 h1">Product</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><%= @product.product_name %></td>
    <td><%= @product.description %></td>
    <td><%= @product.price %></td>
  </tr>
</table>
